.spinner-box {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: absolute;
  top:-8px;
  left: 0px;
  z-index: -1;
}

.leo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@keyframes spin3D {
  from {
    transform: rotate3d(.5, .5, .5, 360deg);
  }

  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

.blue-orbit {
  width: 120px;
  height: 120px;
  border: 2px solid white;
  animation: spin3D 6s linear .2s infinite;
}

.green-orbit {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  animation: spin3D 4s linear 0s infinite;
}

.white-orbit {
  width: 60px;
  height: 60px;
  border: 2px solid #ffffff;
  animation: spin3D 10s linear 0s infinite;
}

.w1 {
  animation: spin3D 5s linear 0s infinite;
}

.w2 {
  animation: spin3D 7s linear 0s infinite;
}

.w3 {
  animation: spin3D 11s linear 0s infinite;
}