@media (max-width: 500px) {
  .cover {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "right right" "left left" !important;
  }
  .right .text {
    font-size: 100%;
  }
  .left .text {
    margin-top: 13% !important;
    margin-left: 15% !important;
    font-size: 100%;
  }
}

.cover {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
      grid-template-areas: 'left right';
}

.cover .left {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  background-color: black;
  background-image: url("../../images/cover/music.png");
  background-repeat: no-repeat;
  background-size: 90% 90%;
  -webkit-transition: background-size 1.6s ease-out;
  transition: background-size 1.6s ease-out;
}

.cover .left .text {
  position: fixed;
  visibility: hidden;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: -webkit-transform 2s ease-out;
  transition: -webkit-transform 2s ease-out;
  transition: transform 2s ease-out;
  transition: transform 2s ease-out, -webkit-transform 2s ease-out;
  margin-top: 5%;
  margin-left: 9%;
}

.cover .left .link {
  height: 100%;
  display: inline-block;
  width: 100%;
  z-index: 100 !important;
  position: relative;
}

.cover .left .link .btn {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: height 2s ease-out, background-color 2s ease-out;
  transition: height 2s ease-out, background-color 2s ease-out;
}

.cover .left:hover .link .btn {
  background-color: rgba(255, 255, 255, 0.6);
  height: 20%;
}

.cover .left:hover .text {
  visibility: visible;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.cover .left:hover {
  background-size: 100% 100%;
}

.cover .right {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover .right .text {
  position: fixed;
  visibility: hidden;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

.cover .right .canvas {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.cover .right .link {
  height: 100%;
  display: inline-block;
  width: 100%;
}

.cover .right .link .btn {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transition: width 2s ease-out, background-color 2s ease-out;
  transition: width 2s ease-out, background-color 2s ease-out;
}

.cover .right .link .btn:hover {
  background-color: transparent;
}

.cover .right:hover .text {
  visibility: visible;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.cover .right:hover .link .btn {
  background-color: transparent;
  width: 0%;
}
/*# sourceMappingURL=cover.css.map */