$black: rgb(0, 0, 0);
$white: rgba(255, 255, 255, 0.6);
$btn-color-hover-left: rgba(255, 255, 255, 0.6);
$btn-color-hover-right: rgba(255, 255, 255, 0.7);

@media (max-width: 500px) {
    .cover {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 'right right''left left' !important;
    }

    .right .text {
        font-size: 100%;
    }

    .left .text {
        margin-top: 13% !important;
        margin-left: 15% !important;
        font-size: 100%;
    }
}


.cover {
    display: grid;
    text-align: center;
    justify-content: center;
    height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'left right';


    .left {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: left;
        background-color: $black;
        background-image: url('../../images/cover/music.png');
        background-repeat: no-repeat;
        background-size: 90% 90%;
        transition: background-size 1.6s ease-out;

        .text {
            position: fixed;
            visibility: hidden;
            color: $white;
            transition: transform 2s ease-out;
            margin-top: 5%;
            margin-left: 9%;
        }

        .link {
            height: 100%;
            display: inline-block;
            width: 100%;
            z-index: 100 !important;
            position: relative;

            .btn {
                height: 100%;
                width: 100%;
                background-color: $btn-color-hover-left;
                transition: height 2s ease-out, background-color 2s ease-out;
            }
        }
    }

    .left:hover .link .btn {
        background-color: $white;
        height: 20%;
    }

    .left:hover .text {
        visibility: visible;
        transform: scale(1.5);
    }

    .left:hover {
        background-size: 100% 100%;
    }

    .right {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: right;
        background-repeat: no-repeat;
        background-size: cover;

        .text {
            position: fixed;
            visibility: hidden;
            color: $white;
            transition: transform 1s ease-out;
            z-index: -2;
        }

        .canvas {
            position: fixed;
            height: 50%;
            width: 100%;
            z-index: -1;
        }

        .link {
            height: 100%;
            display: inline-block;
            width: 100%;

            .btn {
                height: 100%;
                width: 100%;
                background-color: $btn-color-hover-right;
                transition: width 2s ease-out, background-color 2s ease-out;
            }

            .btn:hover {
                background-color: transparent;
            }
        }
    }

    .right:hover .text {
        visibility: visible;
        transform: scale(1.5);
    }

    .right:hover .link .btn {
        background-color: transparent;
        width: 0%;
    }

}